@charset "utf-8";
/* CSS Document */
body {
	background-color: #EEE;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	line-height: 1.428571429;
	color: #333;
}

div.VNP_SysStat {
	background: #f5f5f5;
	padding: 8px 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
	border: 1px solid #ddd;
}
code.VNP_CodeBlock {
    border-radius: 0 !important;
}
pre {
    border-radius: 0 !important;
    margin: 5px !important;
	padding: 2px 4px;
	font-size: 90%;
	color: #c7254e;
	background-color: #f9f2f4;
	white-space: nowrap;
	border-radius: 4px;
}

input, button {
	outline: none !important
}

.form-control, .btn {
	border-radius: 0;
	height: 30px;
}

.form-control:focus, .alert {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn {
	padding: 4px 12px;
}
.alert {
	padding: 5px 10px;
	margin-bottom: 10px;
	background-image: none;
}
.pagination {
	margin: 5px 0
}

.panel {
	border-radius: 0;
}

.input-group-addon {
	border-radius: 0
}

.panel-default>.panel-heading {
	background-image: none;
}

.page-header {
	padding-bottom: 5px;
	margin: 20px 0 20px;
	border-bottom: 1px solid #eee;
}

.navbar-default {
	background-image: none;
	border-radius: 0;
	min-height: 30px;
	-webkit-box-shadow: 0 0 0;  
	box-shadow: 0 0 0;
	font-weight: bold;
}

.navbar-nav>li>a {
	padding-top: 5px;
	padding-bottom: 5px;
}

.btn-toolbar {
	content: " ";
	display: table;
	margin-bottom: 15px;
}

.progress {
	margin-top: 5px;
	height: 10px;
	border-radius: 0;
	margin-bottom: 0
}

#left-sidebar {
	background: #FFF;
	width: 220px;
	margin: 15px 15px 0 0;
	padding: 0;
}

#main-board {
	background: #FFF;
	margin: 15px 0;
}

.box {
	position: relative;
	padding: 15px;
	background-color: #fafafa;
	margin-right: 0;
	border-width: 1px;
	border-color: #ddd;
	box-shadow: none;
}

.form-group
{
	padding:6px 12px;
	display: block;
	clear: both;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.clearfix {
 *zoom: 1;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#board-breadcrumbs {
	margin-top: 0
}
#ExtraField-Option .input-group {
	margin-bottom: 8px;
}
.Move_Option {
	cursor: move
}
.Item_Featured {
	font-size: 90%;
}
.NodeField_Item {
	width: 100%
}
.ui-sortable-placeholder {
	outline: #F30 dashed 1px;
	visibility: visible !important
}
#admin-functions {
    margin-left: 0;
    padding: 0;
}
#admin-functions > li {
    list-style: none;
    margin-left: 0;
    background: #f5f5f5;
    display: block;
}
ul.submenu {
    padding-left: 0;
}
ul.submenu li {
    list-style: none;
    background: #FFF;
}
#admin-functions > li a {
    padding: 5px 10px;
    display: block;
    font-weight: bold;
}
ul.submenu li a {
    padding: 3px 5px !important;
    border-top: 1px dashed #f5f5f5;
    padding-left: 10px !important;
    font-weight: normal !important;
}
ul.submenu li:first-child a {
    border-top: 0;
}
.js .nav-collapse-0.opened {
	max-height: 999999px !important;
}