@charset "utf-8";
/* CSS Document */

input {
	outline: none !important
}

.form-control, .btn {
	border-radius: 0;
	height: 30px;
}

.btn {
	padding: 4px 12px;
}

#LoginForm {
	width:300px;
	padding: 20px 40px;
	margin: 20px auto;
	background: #F1F1F1;
}